nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  align-items: center;
  display: flex;
  z-index: 2;

  a {
    color: white;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    transition: all 0.2s ease-out;
    user-select: none;

    &.active,
    &:hover,
    &:focus {
      border-bottom-color: #ffca28;
    }
  }
}
