#skills {
  background-image: linear-gradient(135deg, #72edf2 10%, #5151e5 100%);
  position: relative;

  .box {
    position: absolute;
    top: -40px;
    right: 0;
    width: 85vw;
    height: calc(100% - 180px);
    background-color: white;
    box-sizing: border-box;
    padding: 40px;
    overflow: hidden;

    @include max-lg {
      width: 100vw;
      top: 20px;
      height: calc(100% - 20px);
      box-shadow: none;
    }
  }

  h1 {
    font-size: 10rem;
    color: rgba(#424242, 0.1);
    z-index: 2;
    top: -60px;
    left: -5rem;
    user-select: none;
  }

  .skill-set {
    color: #bdbdbd;
    padding: 10px 10px 0;
    min-width: 300px;
    font-size: 3rem;
    font-weight: bold;
    z-index: 10;
    color: #424242;

    &-buttons {
      margin-top: 4rem;
      z-index: 3;
      display: flex;
      align-items: flex-end;
      border-bottom: 3px solid #ffca28;
      margin-right: -40px;
    }
  }

  .skills {
    padding-top: 40px;

    .col {
      min-width: 300px;
      flex-wrap: wrap;
    }

    .skill {
      font-size: 1.5rem;
      padding: 10px 0;
      padding-right: 50px;
      color: #757575;
    }
  }

  .info {
    color: white;
  }
}
