$values: 0, 5, 10, 15, 20;

@each $value in $values {
  .m-#{$value} {
    margin: #{$value}px;
  }

  .ml-#{$value},
  .mx-#{$value} {
    margin-left: #{$value}px;
  }

  .mr-#{$value},
  .mx-#{$value} {
    margin-right: #{$value}px;
  }

  .mt-#{$value},
  .my-#{$value} {
    margin-top: #{$value}px;
  }

  .mb-#{$value},
  .my-#{$value} {
    margin-bottom: #{$value}px;
  }

  .p-#{$value} {
    padding: #{$value}px;
  }

  .pl-#{$value},
  .px-#{$value} {
    padding-left: #{$value}px;
  }

  .pr-#{$value},
  .px-#{$value} {
    padding-right: #{$value}px;
  }

  .pt-#{$value},
  .py-#{$value} {
    padding-top: #{$value}px;
  }

  .pb-#{$value},
  .py-#{$value} {
    padding-bottom: #{$value}px;
  }
}
