$positions: left, right, center, justify;

@each $position in $positions {
  .text-#{$position} {
    text-align: $position;
  }
}

$colors: $black, $white;

@each $color in $colors {
  .text-#{$color} {
    color: $color;
  }
}

$font-sizes: (
  xs: 0.4rem,
  sm: 0.7rem,
  md: 1rem,
  lg: 1.3rem,
  xl: 1.6rem,
);

@each $size, $value in $font-sizes {
  .text-#{$size} {
    font-size: $value;
  }
}
