$black: black;
$white: white;
@import 'reboot';
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #ede7f6;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}
html,
body {
  scroll-behavior: smooth;
}

// Utilites
@import 'mixins';
@import 'position';
@import 'border';
@import 'layout';
@import 'spacing';
@import 'text';

// Sections
@import 'sections/nav';
@import 'sections/hero';
@import 'sections/skills';
@import 'sections/image';
@import 'sections/process';
@import 'sections/contact';
